absl-py==2.1.0
accelerate==0.32.1
aiofiles==23.2.1
aiohttp==3.9.3
aiosignal==1.3.1
alembic==1.13.2
altair==5.2.0
annotated-types==0.6.0
anthropic==0.30.1
anyio==3.7.1
appdirs==1.4.4
asgiref==3.8.1
astor==0.8.1
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
astunparse==1.6.3
asyncer==0.0.2
attrs==23.2.0
backcall==0.2.0
backoff==2.2.1
bcrypt==4.1.3
beautifulsoup4==4.12.3
bidict==0.23.1
bitsandbytes==0.43.1
bleach==6.1.0
blinker==1.7.0
boto3==1.34.141
botocore==1.34.141
branca==0.8.0
build==1.2.1
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
chainlit==1.1.306
chardet==5.2.0
charset-normalizer==3.3.2
chevron==0.14.0
chroma-hnswlib==0.7.3
chromadb==0.4.24
click==8.1.7
cohere==5.6.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
coloredlogs==15.0.1
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1710320294760/work
contourpy==1.2.1
crewai==0.41.1
crewai-tools==0.4.26
cycler==0.12.1
dataclasses-json==0.5.14
dataclasses-json-speakeasy==0.5.11
debugpy @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/debugpy_1699554994633/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
dirtyjson==1.0.8
distro==1.9.0
dnspython==2.6.1
docker==7.1.0
docopt==0.6.2
docstring_parser==0.16
docx2txt==0.8
duckdb==0.10.3
easyocr==1.7.1
email_validator==2.2.0
embedchain==0.1.119
emoji==2.12.1
et-xmlfile==1.1.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1704921103267/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
faiss-cpu==1.8.0
Faker==19.13.0
fastapi==0.110.3
fastapi-cli==0.0.4
fastavro==1.9.5
fastembed==0.3.4
fastjsonschema==2.19.1
ffmpy==0.3.2
filelock==3.15.4
filetype==1.2.0
flatbuffers==24.3.25
folium==0.19.0
fonttools==4.53.1
free-proxy==1.1.1
frozenlist==1.4.1
fsspec==2024.6.1
gast==0.6.0
gdown==5.2.0
geographiclib==2.0
geopy==2.4.1
gitdb==4.0.11
GitPython==3.1.42
google==3.0.0
google-ai-generativelanguage==0.6.4
google-api-core==2.17.1
google-api-python-client==2.136.0
google-auth==2.28.2
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.60.0
google-cloud-bigquery==3.25.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.5
google-cloud-storage==2.18.0
google-crc32c==1.5.0
google-generativeai==0.5.4
google-pasta==0.2.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.0
gptcache==0.1.44
gradio==4.38.1
gradio_client==1.1.0
graphviz==0.20.3
greenlet==3.0.3
groq==0.9.0
grpc-google-iam-v1==0.13.1
grpcio==1.65.2
grpcio-status==1.62.1
grpcio-tools==1.62.2
h11==0.14.0
h2==4.1.0
h5py==3.11.0
hpack==4.0.0
html2text==2024.2.26
httpcore==1.0.4
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.23.4
humanfriendly==10.0
hyperframe==6.0.1
idna==3.6
imageio==2.35.1
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1709821103657/work
importlib_resources==6.4.0
iniconfig==2.0.0
instructor==1.3.3
intel-openmp==2021.4.0
ipykernel @ file:///D:/bld/ipykernel_1708996677248/work
ipython==8.12.3
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2==3.1.3
jiter==0.4.2
jmespath==1.0.1
joblib==1.4.2
json_repair==0.25.3
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.4
jsonref==1.1.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1710255804825/work
jupyter_core @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/jupyter_core_1701796658071/work
jupyterlab_pygments==0.3.0
keras==3.5.0
kiwisolver==1.4.5
kubernetes==30.1.0
lancedb==0.5.7
langchain==0.2.12
langchain-anthropic==0.1.11
langchain-aws==0.1.3
langchain-cohere==0.1.9
langchain-community==0.2.10
langchain-core==0.1.53
langchain-experimental==0.0.63
langchain-google-genai==1.0.3
langchain-groq==0.1.3
langchain-huggingface==0.0.3
langchain-openai==0.1.20
langchain-text-splitters==0.2.2
langdetect==1.0.9
langsmith==0.1.96
Lazify==0.4.0
lazy_loader==0.4
libclang==18.1.1
literalai==0.0.607
llama-index==0.9.48
llama-index-core==0.10.59
llama-index-embeddings-huggingface==0.2.2
llama-index-llms-groq==0.1.4
llama-index-llms-openai==0.1.27
llama-index-llms-openai-like==0.1.3
llama-index-readers-file==0.1.30
llama-index-tools-wolfram-alpha==0.1.3
llama-parse==0.4.9
llama-parser==0.1.2
llama_models==0.0.16
loguru==0.7.2
lxml==5.2.2
Mako==1.3.5
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.1
matplotlib==3.9.1
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mdurl==0.1.2
mem0ai==0.0.9
minify_html==0.15.0
minijinja==2.0.1
mistune==3.0.2
mkl==2021.4.0
ml-dtypes==0.4.1
mmh3==4.1.0
monotonic==1.6
mpmath==1.3.0
multidict==6.0.5
mypy-extensions==1.0.0
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.3
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
networkx==3.3
ninja==1.11.1.1
nlpaug==1.1.11
nltk==3.8.1
nodeenv==1.9.1
numpy==1.26.4
oauthlib==3.2.2
onnx==1.16.1
onnxruntime==1.18.1
openai==1.35.10
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opentelemetry-api==1.25.0
opentelemetry-exporter-otlp==1.25.0
opentelemetry-exporter-otlp-proto-common==1.25.0
opentelemetry-exporter-otlp-proto-grpc==1.25.0
opentelemetry-exporter-otlp-proto-http==1.25.0
opentelemetry-instrumentation==0.46b0
opentelemetry-instrumentation-asgi==0.46b0
opentelemetry-instrumentation-fastapi==0.46b0
opentelemetry-proto==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
opentelemetry-util-http==0.46b0
opt-einsum==3.3.0
optree==0.12.1
orjson==3.9.15
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
pandas==1.5.3
pandasai==2.2.10
pandocfilters==1.5.1
parameterized==0.9.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow==10.4.0
pipreqs==0.5.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1706713388748/work
playwright==1.43.0
pluggy==1.5.0
portalocker==2.10.1
posthog==3.5.0
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1702399386289/work
proto-plus==1.23.0
protobuf==4.25.3
psutil @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/psutil_1699482842340/work
pulsar-client==3.5.0
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
py==1.11.0
pyarrow==15.0.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyAudio==0.2.14
pybase64==1.3.2
pyclipper==1.3.0.post5
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.8.1b0
pydub==0.25.1
pyee==11.1.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1700607939962/work
PyJWT==2.8.0
pylance==0.9.18
pyparsing==3.1.2
pypdf==4.3.0
PyPDF2==3.0.1
PyPika==0.48.9
pyproject_hooks==1.1.0
pyreadline3==3.4.1
pyright==1.1.374
pysbd==0.3.4
PySocks==1.7.1
PyStemmer==2.2.0.1
pytest==8.3.2
python-bidi==0.6.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-dotenv==1.0.1
python-engineio==4.9.1
python-iso639==2024.4.27
python-magic==0.4.27
python-multipart==0.0.9
python-socketio==5.11.3
pytube==15.0.0
pytz==2024.1
pywin32==305.1
PyYAML==6.0.1
pyzmq @ file:///C:/b/abs_89aq69t0up/croot/pyzmq_1705605705281/work
qdrant-client==1.10.1
rapidfuzz==3.9.4
ratelimiter==1.2.0.post0
referencing==0.34.0
regex==2023.12.25
requests==2.31.0
requests-oauthlib==2.0.0
retry==0.9.2
rich==13.7.1
rpds-py==0.18.0
rsa==4.9
ruff==0.5.2
s3transfer==0.10.2
safetensors==0.4.3
schema==0.7.7
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.14.0
scrapegraphai==1.8.0
selenium==4.23.1
semantic-version==2.10.0
semchunk==1.0.1
semver==3.0.2
sentence-transformers==3.0.1
sentencepiece==0.2.0
setuptools==68.2.2
shapely==2.0.5
shellingham==1.5.4
simple-websocket==1.0.0
simplejson==3.19.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.1
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.5
SpeechRecognition==3.10.1
SQLAlchemy==2.0.28
sqlglot==25.5.1
sqlglotrs==0.2.8
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
starlette==0.37.2
streamlit==1.35.0
streamlit-lottie==0.0.5
streamlit-option-menu==0.3.12
streamlit-pdf-viewer==0.0.9
streamlit_folium==0.23.2
striprtf==0.0.26
sympy==1.13.0
syncer==2.0.3
tabula-py==2.9.3
tabulate==0.9.0
tbb==2021.13.0
tenacity==8.2.3
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
termcolor==2.4.0
threadpoolctl==3.5.0
tifffile==2024.8.30
tiktoken==0.7.0
tinycss2==1.2.1
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.1
torch==2.3.1
torchvision==0.18.1
tornado @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/tornado_1699496839511/work
tqdm==4.66.4
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1710254411456/work
transformers @ git+https://github.com/huggingface/transformers.git@6fbea6d237cbdfc3c229cdadfa3c968cfb2d5142
trio==0.26.0
trio-websocket==0.11.1
typer==0.12.3
types-requests==2.32.0.20240712
typing-inspect==0.9.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1708904622550/work
tzdata==2024.1
undetected-playwright==0.3.0
unstructured==0.14.10
unstructured-client==0.18.0
uptrace==1.24.0
uritemplate==4.1.1
urllib3==2.2.1
uvicorn==0.25.0
watchdog==4.0.0
watchfiles==0.20.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.0.4
wheel==0.41.2
win32-setctime==1.1.0
wrapt==1.16.0
wsproto==1.2.0
XlsxWriter==3.2.0
xyzservices==2024.9.0
yarg==0.1.9
yarl==1.9.4
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
